PORT=3000
KAFKA_BROKERS=localhost:19092,localhost:29092,localhost:39092
KAFKA_CLIENT_ID=logpulse-api-server
KAFKA_CLICK_TOPIC=click-events
KAFKA_PAYMENT_TOPIC=payment-events
API_KEY=dev-api-key
RATE_LIMIT_MAX=5000
API_INSTANCE_COUNT=2
LOG_LEVEL=info
